<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ng.com.coursecode.piqmessenger">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".MyAPP"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ExtLib.staggeredgridviewdemo.MainActivity_r"
            android:label="@string/app_name" />
        <activity
            android:name=".HomeSta"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Profile"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".EditProfile" />
        <activity
            android:name=".Contacts_.StatusAct"
            android:label="@string/view_users"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Searches.SearchAct"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Searches.ConvoSearchAct"
            android:label="@string/action_search"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Statuses.CreateStatus"
            android:label="@string/create_status"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*"/>
                <data android:mimeType="text/*"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SENDTO"/>
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".Statuses.CreatePost"
            android:label="@string/newpost"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*"/>
                <data android:mimeType="text/*"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SENDTO"/>
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".Statuses.EditPost"
            android:label="@string/edit_post"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Groupss.JoinGroups"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".GifReplace.GifAct"
            android:label="@string/onlineGifs"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PostsAct.PostsAct"
            android:label="@string/replies_"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Contacts_.ContactAct"
            android:label="@string/friends"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SplashScreen"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GifReplace.MediaViewer"
            android:label="@string/onlineGifs" />
        <activity
            android:name=".GifReplace.mViewer.MedViewer"
            android:label="@string/onlineGifs"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- Firebase Notifications -->
        <service android:name=".Firebasee.MFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".Firebasee.FirebaseInstanceIdServ">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".Servicess.MessageCallService" />
        <service android:name=".Servicess.StatusCallService" />
        <!-- ./Firebase Notifications -->
        <activity
            android:name=".PostsAct.LikesAct"
            android:label="@string/likes"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Conversate.Converse"
            android:label="@string/title_activity_converse"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Statuses.Show_Status"
            android:label="@string/title_activity_show__status"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ImageActivity"
            android:label="@string/title_activity_image"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".dump.Main2Activity"
            android:label="@string/title_activity_main2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Signin.LoginActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_login"
            android:theme="@style/FullAppTheme" />
        <activity
            android:name=".Signin.SignActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_login"
            android:theme="@style/FullAppTheme" />
        <activity
            android:name=".Mmenu.Menu_"
            android:label="@string/title_activity_menu_"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>